.products {
    padding: 48px 0;
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        gap: 40px;
    }
    &__title {
        margin-bottom: 50px;
        line-height: 100%;
    }
    &__item {
        display: block;
        border: 1px solid $grayColor;
        height: 400px;
        padding: 16px;
        overflow: hidden;
        transition: all .4s ease;
        position: relative;
        &-img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            & > img {
                object-fit: cover;
            }            
        }
        &-title {
            font-family: 'NeueFrutigerWorld-Bold', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: $textColorBlack;
        }
        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            width: 50%;
            bottom: 16px;
            left: 16px;
            gap: 20px;
        }
        &-btn {
            width: 200px;
            height: 35px;
            background-color: $mainColor;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            transition: all .4s ease;

            font-family: 'NeueFrutigerWorld-Bold';
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: $textColorWhite;
            &:hover {
                background-color: $mainColor2;
            }
        }
        &:hover {
            box-shadow: 0 0 10px $grayColor;
        }
    }
}