@charset "UTF-8";
@font-face {
  font-family: "NeueFrutigerWorld-Black";
  src: url("../fonts/NeueFrutigerWorld-Black.eot");
  src: url("../fonts/NeueFrutigerWorld-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Black.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "NeueFrutigerWorld-Heavy";
  src: url("../fonts/NeueFrutigerWorld-Heavy.eot");
  src: url("../fonts/NeueFrutigerWorld-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Heavy.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Heavy.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "NeueFrutigerWorld-Bold";
  src: url("../fonts/NeueFrutigerWorld-Bold.eot");
  src: url("../fonts/NeueFrutigerWorld-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Bold.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NeueFrutigerWorld-Book";
  src: url("../fonts/NeueFrutigerWorld-Book.eot");
  src: url("../fonts/NeueFrutigerWorld-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Book.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Book.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "NeueFrutigerWorld-Medium";
  src: url("../fonts/NeueFrutigerWorld-Medium.eot");
  src: url("../fonts/NeueFrutigerWorld-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Medium.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NeueFrutigerWorld-Regular";
  src: url("../fonts/NeueFrutigerWorld-Regular.eot");
  src: url("../fonts/NeueFrutigerWorld-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Regular.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NeueFrutigerWorld-Light";
  src: url("../fonts/NeueFrutigerWorld-Light.eot");
  src: url("../fonts/NeueFrutigerWorld-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueFrutigerWorld-Light.ttf") format("truetype"), url("../fonts/NeueFrutigerWorld-Light.woff") format("woff");
  font-weight: 300;
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  border: none;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

table {
  display: block;
  overflow: hidden;
  border-radius: 20px;
}

td {
  display: block;
}

th {
  display: block;
}

tr {
  display: block;
}

thead {
  display: block;
}

tbody {
  display: block;
}

.container {
  max-width: 1480px;
  padding: 0 30px;
  margin: 0 auto;
}

.body__container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.show__menu .header__nav {
  right: 0;
}
.show__menu .hamburger > span:first-child {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.show__menu .hamburger > span:nth-child(2) {
  opacity: 0;
}
.show__menu .hamburger > span:last-child {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 100px;
  color: #171717;
}

.descr {
  max-width: 1300px;
  font-family: "NeueFrutigerWorld-Light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #171717;
  margin-bottom: 46px;
}

.modal-show {
  visibility: visible;
  opacity: 1;
}
.modal-show .modal__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-hide {
  visibility: hidden;
  opacity: 0;
}
.modal-hide .modal__dialog {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.performance-show {
  visibility: visible;
  opacity: 1;
}
.performance-show .performance__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.performance-hide {
  visibility: hidden;
  opacity: 0;
}
.performance-hide .performance__dialog {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.product-information__hide {
  display: none;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border-bottom: 3px solid #0059b3;
  margin-bottom: 5px;
}

.splide__pagination__page .is-active {
  background-color: #0059b3 !important;
}

.video__min {
  margin-right: 10px;
  width: 104px;
  height: 58px;
}

.header {
  padding: 16px 0;
  width: 100%;
  background-color: #0059b3;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 100px;
  height: auto;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.header__nav-list > li {
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list > li:hover {
  background-color: #0074e0;
}
.header__nav-list > li > a {
  font-family: "NeueFrutigerWorld-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.header__contacts-link {
  font-family: "NeueFrutigerWorld-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}

.hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  display: none;
}
.hamburger > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}
.hamburger > span:first-child {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 34%;
}
.hamburger > span:last-child {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 66%;
}

.street-lights {
  padding: 48px 0;
}
.street-lights__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.street-lights__item {
  border: 1px solid #dbdbdb;
  height: 250px;
  padding: 16px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.street-lights__item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.street-lights__item-img > img {
  -o-object-fit: cover;
     object-fit: cover;
}
.street-lights__item-title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #171717;
}
.street-lights__item:hover {
  -webkit-box-shadow: 0 0 10px #dbdbdb;
          box-shadow: 0 0 10px #dbdbdb;
}

.head {
  padding: 50px 0;
}
.head__descr {
  margin-bottom: 19px;
}
.head__wrapper {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.head__spec {
  width: 134px;
  height: 24px;
  background-color: #1c417a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border-radius: 2em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.head__spec:hover {
  background-color: #0059b3;
}
.head__spec-text {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: #fff;
}
.head__spec-img {
  width: 12px;
  height: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.head__img {
  width: 32px;
  height: 32px;
}
.head__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.green-bg {
  background-color: #006b34;
}

.products {
  padding: 48px 0;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  gap: 40px;
}
.products__title {
  margin-bottom: 50px;
  line-height: 100%;
}
.products__item {
  display: block;
  border: 1px solid #dbdbdb;
  height: 400px;
  padding: 16px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}
.products__item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.products__item-img > img {
  -o-object-fit: cover;
     object-fit: cover;
}
.products__item-title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #171717;
}
.products__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 50%;
  bottom: 16px;
  left: 16px;
  gap: 20px;
}
.products__item-btn {
  width: 200px;
  height: 35px;
  background-color: #0059b3;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "NeueFrutigerWorld-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.products__item-btn:hover {
  background-color: #0074e0;
}
.products__item:hover {
  -webkit-box-shadow: 0 0 10px #dbdbdb;
          box-shadow: 0 0 10px #dbdbdb;
}

.product-slider {
  padding: 45px 0;
}
.product-slider__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-slider__item > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-slider__slider {
  width: 49%;
  overflow: hidden;
}
.product-slider__slider-big {
  padding-bottom: 100px;
}
.product-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-slider__specifications {
  width: 49%;
}

.specifications-table {
  width: 100%;
}
.specifications-table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d4e1f2;
  padding: 10px 20px;
}
.specifications-table__head > th {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #0059b3;
  text-align: center;
}
.specifications-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  background-color: #d4e1f2;
  padding: 10px 20px;
  border-bottom: 2px solid #fff;
}
.specifications-table__item {
  line-height: 100%;
  text-align: left;
}

.table__head {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #0059b3;
  text-align: center;
  margin: 0 auto;
}

.product-information {
  padding: 50px 0;
}
.product-information__title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #171717;
  margin-bottom: 50px;
}
.product-information__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.product-information__item {
  width: 45%;
}
.product-information__item-title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #171717;
  margin-bottom: 32px;
}
.product-information__item-descr, .product-information__item-hide {
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #171717;
}
.product-information__item-hide {
  display: none;
}
.product-information__item-next {
  background-color: #fff;
  color: #0059b3;
  position: relative;
  height: 50px;
}
.product-information__item-next::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  width: 12px;
  height: 2px;
  background-color: #0059b3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product-information__item-next::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  width: 12px;
  height: 2px;
  background-color: #0059b3;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.product-information__list {
  width: 100%;
}
.product-information__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 22px;
  gap: 20px;
}
.product-information__list-descr {
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #171717;
  width: 80%;
}
.product-information__list-check {
  width: 18px;
  height: 18px;
  background-color: #0059b3;
  border-radius: 100%;
  position: relative;
}
.product-information__list-check::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 5px;
  height: 8px;
  border: solid white; /* Цвет галочки */
  border-width: 0 2px 2px 0; /* Как формировать линию галочки */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); /* Поворот линии */
}

.footer {
  padding: 60px 0;
  width: 100%;
  background-color: #0059b3;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 100px;
  height: auto;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.footer__nav-list > li {
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__nav-list > li:hover {
  background-color: #0074e0;
}
.footer__nav-list > li > a {
  font-family: "NeueFrutigerWorld-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.footer__contacts-link {
  font-family: "NeueFrutigerWorld-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}
.footer__copy {
  font-family: "NeueFrutigerWorld-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__dialog {
  max-width: 360px;
  background-color: #fff;
  padding: 16px;
  margin: 100px auto;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal__content {
  min-height: 300px;
  position: relative;
}
.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -16px;
  right: -16px;
  cursor: pointer;
}
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #171717;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #171717;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #171717;
  margin-bottom: 30px;
}
.modal__container {
  width: 100%;
}
.modal__form > div {
  height: 40px;
  margin-bottom: 15px;
}
.modal__form-warning {
  font-family: "NeueFrutigerWorld-Light", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #171717;
}
.modal__form-warning > a {
  font-size: 14px;
  color: #0059b3;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 2px solid #0059b3;
  border-radius: 18px;
  padding: 10px 20px;
  text-align: left;
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #171717;
}
.modal__btn {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: #0059b3;
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 20px;
}
.modal__btn:hover {
  background-color: #0074e0;
}
.modal__error {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__error-dialog {
  max-width: 360px;
  background-color: #f0a2a2;
  padding: 16px;
  margin: 100px auto;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal__error-content {
  min-height: 100px;
  position: relative;
}
.modal__succes {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__succes-dialog {
  max-width: 360px;
  background-color: #96d1ba;
  padding: 16px;
  margin: 100px auto;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal__succes-content {
  min-height: 100px;
  position: relative;
}

.performance {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.performance__dialog {
  width: 80%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.performance__content {
  min-height: 600px;
  position: relative;
}
.performance__head {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.performance__title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #171717;
  margin-bottom: 8px;
}
.performance__descr {
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  width: 80%;
}
.performance__close {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: -20px;
}
.performance__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: #171717;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.performance__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: #171717;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.performance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.performance__item {
  width: 30%;
}
.performance__item-title {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 48px;
  color: #171717;
}
.performance__item-header {
  margin-bottom: 20px;
}
.performance__item-content {
  border: 2px solid #9c3790;
  padding: 20px;
  border-radius: 12px;
}
.performance__item-subtitle {
  font-family: "NeueFrutigerWorld-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #171717;
}
.performance__item-subdescr {
  font-family: "NeueFrutigerWorld-Regular", sans-serif;
  font-weight: 400;
  line-height: 18px;
  color: #171717;
  font-size: 14px;
  margin-bottom: 8px;
}
.performance__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}
.performance__item-img {
  width: 24px;
  height: 24px;
}
.performance__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.performance__item-box {
  margin-bottom: 20px;
}

.green {
  border: 2px solid #006b34;
}

.blue {
  border: 2px solid #1c417a;
}

@media (max-width: 1280px) {
  .products__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 40px;
    text-align: center;
  }
  .descr {
    font-size: 14px;
    text-align: center;
  }
  .header__nav-list {
    gap: 12px;
  }
  .header__nav-list > li > a {
    font-size: 16px;
  }
  .header__contacts-link {
    font-size: 16px;
  }
  .street-lights__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .products__grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .product-slider__slider {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-slider__slider-big {
    padding-bottom: 50px;
  }
  .product-slider__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-slider__specifications {
    width: 100%;
  }
  .footer__nav-list {
    gap: 12px;
  }
  .footer__nav-list > li > a {
    font-size: 16px;
  }
  .footer__contacts-link {
    font-size: 16px;
  }
  .footer__copy {
    font-size: 12px;
  }
}
@media (max-width: 993px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  .footer__nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
  .performance__dialog {
    width: 95%;
  }
  .performance__wrapper {
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    gap: 20px;
  }
  .performance__item {
    width: 100%;
  }
  .performance__item-title {
    margin-bottom: 15px;
  }
}
@media (max-width: 763px) {
  .hamburger {
    display: block;
  }
  .title {
    font-size: 34px;
    height: 80px;
  }
  .header__nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #0074e0;
    padding: 60px 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header__nav-list {
    display: block;
  }
  .street-lights__grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .product-information__title {
    font-size: 30px;
  }
  .product-information__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .product-information__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .product-information__item-title {
    font-size: 22px;
  }
  .product-slider__slider {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-slider__slider-big {
    padding-bottom: 30px;
  }
  #thumbnail-slider {
    padding-bottom: 60px;
  }
}
@media (max-width: 556px) {
  .title {
    font-size: 28px;
    height: 60px;
    margin-bottom: 10px;
  }
  .street-lights__grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .street-lights__item-title {
    font-size: 12px;
  }
  .product-slider__slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-slider__slider-big {
    padding-bottom: 30px;
  }
  .specifications-table__header {
    padding: 5px 10px;
  }
  .specifications-table__row {
    padding: 5px 10px;
    gap: 10px;
  }
  .specifications-table__item {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  .title {
    font-size: 24px;
    height: 20px;
    margin-bottom: 50px;
    line-height: 100%;
  }
  .descr {
    text-align: left;
  }
  .container {
    padding: 0 15px;
  }
  .street-lights__item-title {
    font-size: 16px;
  }
  .product-information__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .product-information__wrapper {
    margin-bottom: 20px;
  }
  .product-information__item {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .product-information__item-title {
    font-size: 22px;
  }
  .specifications-table__header {
    padding: 5px;
  }
  .specifications-table__row {
    padding: 5px;
    gap: 0;
  }
  .specifications-table__item {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */