@font-face {
    font-family: 'NeueFrutigerWorld-Black';
    src: url('../fonts/NeueFrutigerWorld-Black.eot');
    src: url('../fonts/NeueFrutigerWorld-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Black.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Black.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'NeueFrutigerWorld-Heavy';
    src: url('../fonts/NeueFrutigerWorld-Heavy.eot');
    src: url('../fonts/NeueFrutigerWorld-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Heavy.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Heavy.woff') format('woff');
    font-weight: 800;
}
@font-face {
    font-family: 'NeueFrutigerWorld-Bold';
    src: url('../fonts/NeueFrutigerWorld-Bold.eot');
    src: url('../fonts/NeueFrutigerWorld-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Bold.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'NeueFrutigerWorld-Book';
    src: url('../fonts/NeueFrutigerWorld-Book.eot');
    src: url('../fonts/NeueFrutigerWorld-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Book.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Book.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'NeueFrutigerWorld-Medium';
    src: url('../fonts/NeueFrutigerWorld-Medium.eot');
    src: url('../fonts/NeueFrutigerWorld-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Medium.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'NeueFrutigerWorld-Regular';
    src: url('../fonts/NeueFrutigerWorld-Regular.eot');
    src: url('../fonts/NeueFrutigerWorld-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Regular.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'NeueFrutigerWorld-Light';
    src: url('../fonts/NeueFrutigerWorld-Light.eot');
    src: url('../fonts/NeueFrutigerWorld-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeueFrutigerWorld-Light.ttf') format('truetype'),
         url('../fonts/NeueFrutigerWorld-Light.woff') format('woff');
    font-weight: 300;
}

