$mainColor: #0059b3;
$mainColor2: #0074e0;
$mainColor3: #1c417a;
$textColorBlack: #171717;
$textColorWhite: #fff;
$grayColor: #dbdbdb;
$blueGrayColor: #d4e1f2;
$purpleColor: #9c3790;
$greenColor: #006b34;